    @media screen and (min-width: 0px) and (max-width: 480px) {
    body {
        background-color: #FFF8DC;
        font-family: "Candara", Sans, serif;
    }
    a:link {
        color: black;
        text-decoration: none
    }
    a:visited {
        color: black;
        text-decoration: none
    }
    a:hover {
        color: black;
        text-decoration: none
    }
    a:active {
        color: black;
        text-decoration: none
    }
    .main_header_bottom_linebottom_aftermenu {
        width: 100%;
        border-bottom: 1px solid black;
        display: inline-block;
    }
    .main_header {
        display: inline;
    }
    .main_header_logo {
        width: 70%;
        display: inline;
        float: left;
    }
    .main_header_logo_title {
        font-size: 180%;
        text-align: center;
        line-height: 1.7;
        font-weight: bold;
    }
    .main_header_logo_subtitle {
        font-size: 110%;
        text-align: center;
        line-height: 1.3;
    }
    .main_header_usercard {
        width: 30%;
        display: inline;
        float: left;
        text-align: right;
    }
    .main_header_usercard_top {
        font-size: 50%;
        padding-right: 0.5em;
    }
    .main_header_usercard_middle {}
    .main_header_usercard_bottom {
        font-size: 80%;
        padding-right: 0.5em;
    }
    .main_header_bottom {
        text-align: center;
        line-height: 0.8;
    }
    .main_header_bottom_linebottom {
        width: 100%;
        border-bottom: 1px solid black;
        display: inline-block;
    }
    .main_content {
        text-align: center;
    }
    .main_frame_menu {}
    .main_frame_content {}
    .main_frame_menu_wordlist {
        display: none;
    }
    .main_button {
        font-size: 80%;
        background-color: #FFF8DC;
        border: 0.08em solid black;
        color: black;
        padding: 0.5em 0.1em;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1em;
        border-radius: 1em;
        width: 80%
    }
    .main_frame_menu_wordlist_showed_list {
        text-align: left;
        padding-left: 2%;
        padding-right: 2%;
        vertical-align: top;
        line-height: 150%;
        font-size: 80%;
        font-weight: bold;
    }
    .main_frame_content_word_edit {}
    .main_frame_content_word_image {
        width: 100%;
        padding-top: 1em;
    }
    .main_frame_content_word_name {
        line-height: 150%;
        font-size: 120%;
        font-weight: bold;
        padding-top: 2em;
        padding-bottom: 1em;
    }
    .main_frame_content_word_description {}
    .main_frame_content_word_timestamp {
        vertical-align: top;
    }
    .main_frame_content_author_img {
        width: 4em;
        height: 4em;
        padding-top: 4em;
    }
    #password_name {
        border: 0.08em solid black;
        color: black;
        padding: 0.5em 0.1em;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1em;
        border-radius: 1em;
        width: 80%
    }
    #password_content {
        border: 0.08em solid black;
        color: black;
        padding: 0.5em 0.1em;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1em;
        border-radius: 1em;
        width: 80%;
    }
    .small_button {
        font-size: 80%;
        background-color: #FFF8DC;
        border: 0.08em solid black;
        color: black;
        padding: 0.5em 0.1em;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1em;
        border-radius: 1em;
        width: 80%
    }
    .errortext {
        font-size: 75%;
        color: red;
    }
    .status_message {
        font-size: 75%;
        color: green;
    }
    .center_form {
        text-align: center;
        padding: 5px;
    }
    .main_header_bottom_newwordbutton2 {
        display: none;
    }
    .main_header_bottom_newwordbutton {}
    .film_container {
        border-style: solid;
        border: 0.08em solid black;
        text-align: left;
        display: inline-block;
        border-radius: 1em;
        width: 90%;
        display: inline-block;
        background-color: #dfc86e;
        padding-top: 10px;
    }
    .culture_container_icon {
        display: inline-block;
        padding-left: 3px;
    }
    .culture_container_header {
        display: inline-block;
        margin-top: 15px;
        vertical-align: top;
        font-size: 180%;
        font-weight: bold;
    }
    .culture_content_line {
        border-style: solid;
        border: 0.08em solid black;
        text-align: left;
        display: inline-block;
        border-radius: 1em;
        width: 90%;
        display: inline-block;
        background-color: #FFF8DC;
        padding-left: 10px;
    }
    .culture_content_title {
        font-weight: bold;
        margin: 5px;
    }
    .culture_content_style {
        font-size: 80%;
        margin-left: 10px;
    }
    .culture_content_image {
        margin-top: 5px;
        display: inline-block;
        max-width: 200px;
        min-width: 10px;
        vertical-align: top;
    }
    .culture_content_description {
        display: inline-block;
        text-align: justify;
    }
    .small_line {
        width: 95%;
        border-bottom: 1px solid black;
        display: inline-block;
    }
    #all_lines_culture_container {
        text-align: center;
        display: none;
    }
    #all_lines_culture_container_music {
        text-align: center;
        display: none;
    }
    #all_lines_culture_container_serial {
        text-align: center;
        display: none;
    }
    #all_lines_culture_container_book {
        text-align: center;
        display: none;
    }
    #all_lines_culture_container_other {
        text-align: center;
        display: none;
    }

    .new_culture_button_container{
        border-style: solid;
        border: 0.08em solid black;
        text-align: center;
        display: inline-block;
        border-radius: 0.5em;
        width: 50%;
        display: inline-block;
        background-color: #dfc86e;
        padding-top: 10px;
        font-weight: : bold;
        font-size: 120%;
        height: 110%;
        padding-bottom: 10px;

    }
.selectType
{
        font-size: 80%;
        background-color: white;
        border: 0.08em solid black;
        color: black;
        padding: 0.5em 0.1em;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1em;
        border-radius: 1em;
        width: 80%

  }

.text_area_input {
        border: 0.08em solid black;
        color: black;
        padding: 0.5em 0.1em;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1em;
        border-radius: 1em;
        width: 80%;
    }
.space_before_arrow{
display: inline-block;
    }
#hide_film_arrow  {
    display: none;
  }
#hide_music_arrow  {
    display: none;
  }
#hide_serial_arrow  {
    display: none;
  }
#hide_book_arrow  {
    display: none;
  }
#hide_other_arrow  {
    display: none;
  }
    #icon_roll {
        display: inline-block;

    }
  }

@media screen and (min-width: 481px) and (max-width: 4000px) {
    body {
        background-color: #FFF8DC;
        font-family: "Candara", Sans, serif;
    }
    .word_detail {
        text-align: center;
    }
    a:link {
        color: black;
        text-decoration: none
    }
    a:visited {
        color: black;
        text-decoration: none
    }
    a:hover {
        color: black;
        text-decoration: none
    }
    a:active {
        color: black;
        text-decoration: none
    }
    .main_header {
        display: inline;
    }
    .main_header_logo {
        width: 70%;
        display: inline;
        float: left;
    }
    .main_header_logo_title {
        font-size: 180%;
        text-align: center;
        line-height: 1.7;
        font-weight: bold;
        padding-left: 10em;
    }
    .main_header_logo_subtitle {
        font-size: 110%;
        text-align: center;
        line-height: 1.3;
        padding-left: 16em;
    }
    .main_header_usercard {
        width: 30%;
        display: inline;
        float: left;
        text-align: right;
    }
    .main_header_usercard_top {
        font-size: 50%;
        padding-right: 0.5em;
    }
    .main_header_usercard_middle {}
    .main_header_usercard_bottom {
        font-size: 80%;
        padding-right: 0.5em;
    }
    .main_header_bottom {
        text-align: left;
        width: 100%;
    }
    .main_header_bottom_linebottom {
        width: 100%;
        border-bottom: 1px solid black;
        display: inline-block;
    }
    .main_content {
        text-align: center;
        display: flex;
        width: 100%;
    }
    .main_button {
        font-size: 80%;
        background-color: #FFF8DC;
        border: 0.08em solid black;
        color: black;
        padding: 0.5em 0.1em;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1em;
        border-radius: 1em;
        width: 80%
    }
    .main_frame_content {
        text-align: center;
        width: 80%
    }
    .main_frame_menu {
        padding: 0.5em 0.1em;
        width: 20%
    }
    .main_header_bottom_newwordbutton2 {}
    .main_header_bottom_newwordbutton {
        display: none;
    }
    #main_frame_menu_menubutton_show_div {
        display: none;
    }
    #main_frame_menu_menubutton_hide {
        display: none;
    }
    .main_frame_menu_wordlist_showed_list {
        text-align: left;
        vertical-align: top;
        line-height: 150%;
        font-size: 100%;
    }
    .main_frame_content_word_image {
        width: 50%;
        padding-top: 1em;
        display: inline-block;
    }
    .main_header_bottom_linebottom_aftermenu {
        display: none;
    }
    .main_frame_content_word_name {
        line-height: 150%;
        font-size: 120%;
        font-weight: bold;
        padding-top: 2em;
        padding-bottom: 1em;
        text-align: center;
    }
    .main_frame_content_author_img {
        width: 4em;
        height: 4em;
        padding-top: 4em;
    }
    .small_button {
        font-size: 80%;
        background-color: #FFF8DC;
        border: 0.08em solid black;
        color: black;
        padding: 0.5em 0.1em;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1em;
        border-radius: 1em;
        width: 30%
    }
    .film_container {
        border-style: solid;
        border: 0.08em solid black;
        text-align: left;
        display: inline-block;
        border-radius: 1em;
        width: 50%;
        display: inline-block;
        background-color: #dfc86e;
        padding-top: 10px;
    }
    .culture_container_icon {
        display: inline-block;
        padding-left: 2em;
    }
    .culture_container_header {
        display: inline-block;
        margin-top: 15px;
        vertical-align: top;
        font-size: 180%;
        font-weight: bold;
    }
    .culture_content_line {
        border-style: solid;
        border: 0.08em solid black;
        text-align: left;
        display: inline-block;
        border-radius: 1em;
        width: 90%;
        display: inline-block;
        background-color: #FFF8DC;
        padding-left: 10px;
    }
    .culture_content_title {
        font-weight: bold;
        font-size: 130%;
        margin: 5px;
    }
    .culture_content_style {
        font-size: 80%;
        margin-left: 10px;
    }
    .culture_content_image {
        margin-top: 5px;
        display: inline-block;
        max-width: 200px;
        min-width: 10px;
        vertical-align: top;
        padding-top: 1em;
    }
    .culture_content_description {
        display: inline-block;
        max-width: 80%;
        min-width: 10%;
        text-align: justify;
         padding-top: 1em;
    }
    .small_line {
        width: 95%;
        border-bottom: 1px solid black;
        display: inline-block;
    }
    #all_lines_culture_container {
        text-align: center;
        display: none;
    }
    #all_lines_culture_container_music {
        text-align: center;
        display: none;
    }
    #all_lines_culture_container_serial {
        text-align: center;
        display: none;
    }
    #all_lines_culture_container_book {
        text-align: center;
        display: none;
    }
    #all_lines_culture_container_other {
        text-align: center;
        display: none;
    }
    #icon_roll {
        display: inline-block;

    }


 .new_culture_button_container{
        border-style: solid;
        border: 0.08em solid black;
        text-align: center;
        display: inline-block;
        border-radius: 0.5em;
        width: 50%;
        display: inline-block;
        background-color: #dfc86e;
        padding-top: 10px;
        font-weight: : bold;
        font-size: 120%;
        padding-bottom: 10px;

    }
.selectType
{
        font-size: 80%;
        background-color: white;
        border: 0.08em solid black;
        color: black;
        padding: 0.5em 0.1em;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1em;
        border-radius: 1em;
        width: 80%

  }

.text_area_input {
        border: 0.08em solid black;
        color: black;
        padding: 0.5em 0.1em;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1em;
        border-radius: 1em;
        width: 80%;
    }

.space_before_arrow{
display: inline-block;
    }

    }
#hide_film_arrow  {
    display: none;
  }
#hide_music_arrow  {
    display: none;
  }
#hide_serial_arrow  {
    display: none;
  }
#hide_book_arrow  {
    display: none;
  }
#hide_other_arrow  {
    display: none;
  }


}