{% load static %}
<!DOCTYPE html>
<html>
   <head>
      <meta name="viewport" content="width=device-width" initial-scale="1" charset="UTF-8">
      <title>Hrstkopedie</title>
      <link rel="stylesheet" href="{% static 'css/main.css' %}">
      <script type="text/javascript" src="{% static 'scripts/main.js' %}"></script>
   </head>
   <body onload="view_scroll()">
      <div class="main_header" >
         <span class="main_header_logo">
            <div class="main_header_logo_title"> Hrstkopedie 
            </div>
            <div class="main_header_logo_subtitle"> Všemocné hrstky
            </div>
         </span>
         <span class="main_header_usercard">
            <div class="main_header_usercard_top">
               <a href="{{ request.scheme }}://{{ home_url }}/logout/"> [ LOGOUT ] </a>
            </div>
            <div class="main_header_usercard_middle">
               <img src="{% static 'images/users/' %}{{ image_user }}" width="60" height="60" alt="Hrstkař"> 
            </div>
            <div class="main_header_usercard_bottom">
               <a href="{{ request.scheme }}://{{ home_url }}/user/{{ user_id }}"> {{ user_name }} </a>
            </div>
         </span>
         <div class="main_header_bottom">
            <span class="main_header_bottom_linebottom">
            </span>

       <span class="main_header_bottom_newwordbutton">
         <button class="main_button" onclick="window.location.href='{{ request.scheme }}://{{ home_url }}/culture/';" > KULTURNÍ TIPY</button>
       </span>

            <span class="main_header_bottom_newwordbutton">
            <button class="main_button" onclick="window.location.href='{{ request.scheme }}://{{ home_url }}/new/';" > PŘIDAT NOVÝ POJEM</button>
            </span>
         </div>
      </div>
      <div class="main_content">
         <span class="main_frame_menu">
            <div class="main_frame_menu_menubutton">
                       <span class="main_header_bottom_newwordbutton2">
         <button class="main_button" onclick="window.location.href='{{ request.scheme }}://{{ home_url }}/culture/';" > KULTURNÍ KOUTEK</button>
       </span>


               <span class="main_header_bottom_newwordbutton2">
               <button class="main_button" onclick="window.location.href='{{ request.scheme }}://{{ home_url }}/new/';" > PŘIDAT NOVÝ POJEM</button>
               </span>
               <div id="main_frame_menu_menubutton_show_div" class="main_frame_menu_menubutton_show_div"> 
                  <button id="main_frame_menu_menubutton_show" class="main_button" onclick="show_menu()">ZOBRAZIT SLOVNÍK</button>
                  <span class="main_header_bottom_linebottom">
                  </span>
               </div>
            </div>
            <div class="main_frame_menu_wordlist" id="main_frame_menu_wordlist">
               <button id="main_frame_menu_menubutton_hide" class="main_button" onclick="hide_menu()">SKRÝT SLOVNÍK</button>
               <span >
                  <ul>
                     {% for password in muj_list %}
                     <div class="main_frame_menu_wordlist_showed_list"><a href="{{ request.scheme }}://{{ home_url }}/view/{{ password.1 }}/"> &#8227; {{ password.0 }} </a> </div>
                     {% endfor %}
                  </ul>
               </span>
               <span class="main_header_bottom_linebottom_aftermenu">
               </span>
            </div>
         </span>
         <span class="main_frame_content">
            <span class="word_detail">
              <a href="{{ request.scheme }}://{{ home_url }}/newculture/" ><span class="new_culture_button_container">
              	Přidat nový tip
              </span></a>
<p> </p>



               <span class="film_container">
                 <div style="display: inline-block;"> 
                  <div class="culture_container_icon">
                     <img src="{% static 'images/icons/cult_film.png' %}" width="60" height="60" alt="Filmotéka" > 
                  </div>
                  <div  class="culture_container_header">
                  	Film&nbsp&nbsp&nbsp
                  </div>
                  <div class="space_before_arrow">
                  </div>
                  <div id="icon_roll"> 
                  <input type="image" src="{% static 'images/icons/roll.png' %}"  id="show_film_arrow" class="roll_buttons" onclick="show_film()">
                  <input type="image" src="{% static 'images/icons/unroll.png' %}"  id="hide_film_arrow" class="roll_buttons" onclick="hide_film()" >


                  </div>
                 </div> 
                  <div id="all_lines_culture_container">


               {% for film in all_films_complet_list %}

                     <div id="cultureID_{{ film.0 }}" class="culture_content_line">
                        <div class="culture_content_title">
                           {{ film.1 }}
                        </div>
                        <div class="culture_content_style">
                           {{ film.2 }}
                        </div>
                        <div class="culture_content_image">
                         

                           <img src="{% static 'images/subjects/' %}{{ film.4 }}" width="78" height="109" alt="Filmotéka"> 
                        </div>
                        <div class="culture_content_description">
                           {{ film.3 }}
                        </div>
                        <span class="small_line">
                        </span>	
                        <div>Komu se líbí:</div>
                        {% for liker in film.7 %}
                        <img src="{% static 'images/users/'%}{{ liker.1 }}"   width="40" height="40" alt="{{ liker.0 }}">
                        {% endfor %}

                        <span class="small_line">
                        </span>	
                        <div style="display: inline-block;">
                           <div >
                              Přidal:
                           </div>
                           <div> 
                              <img src="{% static 'images/users/'%}{{ film.6 }}" width="40" height="40" alt="{{ film.5 }}">
                           </div>
                        </div>
                        <div style="display: inline-block; margin-left: 10em">
                           <a href="{{ request.scheme }}://{{ home_url }}/like/{{ film.0 }}/"><img src="{% static 'images/icons/like.png' %}" width="50" height="50" alt="Líbí se mi" ></a>
                        </div	>
                     </div>
                     <p> </p>
               {% endfor %}

                  </div>
               </span>

<p></p>
               <span class="film_container">
                 <div style="display: inline-block;"> 
                  <div class="culture_container_icon">
                     <img src="{% static 'images/icons/cult_music.png' %}" width="60" height="60" alt="Filmotéka" > 
                  </div>
                  <div  class="culture_container_header">
                  	Hudba
                  </div>
                  <div class="space_before_arrow">
                  </div>
                  <div id="icon_roll"> 
                  <input type="image" src="{% static 'images/icons/roll.png' %}"  id="show_music_arrow" class="roll_buttons" onclick="show_music()">
                  <input type="image" src="{% static 'images/icons/unroll.png' %}"  id="hide_music_arrow" class="roll_buttons" onclick="hide_music()" >            
                  </div>
                 </div> 
                  <div id="all_lines_culture_container_music">


               {% for film in all_musics_complet_list %}

                     <div id="cultureID_{{ film.0 }}"  class="culture_content_line">
                        <div class="culture_content_title">
                           {{ film.1 }}
                        </div>
                        <div class="culture_content_style">
                           {{ film.2 }}
                        </div>
                        <div class="culture_content_image">
                           <img src="{% static 'images/subjects/' %}{{ film.4 }}" width="78" height="109" alt="Filmotéka"> 
                        </div>
                        <div class="culture_content_description">
                           {{ film.3 }}
                        </div>
                        <span class="small_line">
                        </span>	
                        <div>Komu se líbí:</div>
                        {% for liker in film.7 %}
                        <img src="{% static 'images/users/'%}{{ liker.1 }}"   width="40" height="40" alt="{{ liker.0 }}">
                        {% endfor %}

                        <span class="small_line">
                        </span>	
                        <div style="display: inline-block;">
                           <div >
                              Přidal:
                           </div>
                           <div> 
                              <img src="{% static 'images/users/'%}{{ film.6 }}" width="40" height="40" alt="{{ film.5 }}">
                           </div>
                        </div>
                        <div style="display: inline-block; margin-left: 10em">
                           <a href="{{ request.scheme }}://{{ home_url }}/like/{{ film.0 }}/"><img src="{% static 'images/icons/like.png' %}" width="50" height="50" alt="Líbí se mi"></a>
                        </div	>
                     </div>
                     <p> </p>
               {% endfor %}

                  </div>
               </span>
               <p> </p>



               <span class="film_container">
                 <div style="display: inline-block;"> 
                  <div class="culture_container_icon">
                     <img src="{% static 'images/icons/cult_serial.png' %}" width="60" height="60" alt="Seriály" > 
                  </div>
                  <div  class="culture_container_header">
                  	Seriály
                  </div>
                  <div class="space_before_arrow">
                  </div>
                  <div id="icon_roll"> 

                   <input type="image" src="{% static 'images/icons/roll.png' %}"  id="show_serial_arrow" class="roll_buttons" onclick="show_serial()">
                  <input type="image" src="{% static 'images/icons/unroll.png' %}"  id="hide_serial_arrow" class="roll_buttons" onclick="hide_serial()" >     
                  </div>
                 </div> 
                  <div id="all_lines_culture_container_serial">


               {% for serial in all_serials_complet_list %}

                     <div  id="cultureID_{{ serial.0 }}"  class="culture_content_line">
                        <div class="culture_content_title">
                           {{ serial.1 }}
                        </div>
                        <div class="culture_content_style">
                           {{ serial.2 }}
                        </div>
                        <div class="culture_content_image">
                           <img src="{% static 'images/subjects/' %}{{ serial.4 }}" width="78" height="109" alt="Filmotéka"> 
                        </div>
                        <div class="culture_content_description">
                           {{ serial.3 }}
                        </div>
                        <span class="small_line">
                        </span>	
                        <div>Komu se líbí:</div>
                        {% for liker in serial.7 %}
                        <img src="{% static 'images/users/'%}{{ liker.1 }}"   width="40" height="40" alt="{{ liker.0 }}">
                        {% endfor %}

                        <span class="small_line">
                        </span>	
                        <div style="display: inline-block;">
                           <div >
                              Přidal:
                           </div>
                           <div> 
                              <img src="{% static 'images/users/'%}{{ serial.6 }}" width="40" height="40" alt="{{ serial.5 }}">
                           </div>
                        </div>
                        <div style="display: inline-block; margin-left: 10em">
                           <a href="{{ request.scheme }}://{{ home_url }}/like/{{ serial.0 }}/"><img src="{% static 'images/icons/like.png' %}" width="50" height="50" alt="Líbí se mi"></a>
                        </div	>
                     </div>
                     <p> </p>
               {% endfor %}

                  </div>
               </span>
                <p> </p>




              <span class="film_container">
                 <div style="display: inline-block;"> 
                  <div class="culture_container_icon">
                     <img src="{% static 'images/icons/cult_book.png' %}" width="60" height="60" alt="Knihy" > 
                  </div>
                  <div  class="culture_container_header">
                  	Knihy&nbsp&nbsp
                  </div>
                  <div class="space_before_arrow">
                  </div>
                  <div id="icon_roll"> 
  
                   <input type="image" src="{% static 'images/icons/roll.png' %}"  id="show_book_arrow" class="roll_buttons" onclick="show_book()">
                  <input type="image" src="{% static 'images/icons/unroll.png' %}"  id="hide_book_arrow" class="roll_buttons" onclick="hide_book()" >    
                  </div>
   

                 </div> 
                  <div id="all_lines_culture_container_book">


               {% for book in all_books_complet_list %}

                     <div  id="cultureID_{{ book.0 }}" class="culture_content_line">
                        <div class="culture_content_title">
                           {{ book.1 }}
                        </div>
                        <div class="culture_content_style">
                           {{ book.2 }}
                        </div>
                        <div class="culture_content_image">
                           <img src="{% static 'images/subjects/' %}{{ book.4 }}" width="78" height="109" alt="Filmotéka"> 
                        </div>
                        <div class="culture_content_description">
                           {{ book.3 }}
                        </div>
                        <span class="small_line">
                        </span>	
                        <div>Komu se líbí:</div>
                        {% for liker in book.7 %}
                        <img src="{% static 'images/users/'%}{{ liker.1 }}"   width="40" height="40" alt="{{ liker.0 }}">
                        {% endfor %}

                        <span class="small_line">
                        </span>	
                        <div style="display: inline-block;">
                           <div >
                              Přidal:
                           </div>
                           <div> 
                              <img src="{% static 'images/users/'%}{{ book.6 }}" width="40" height="40" alt="{{ book.5 }}">
                           </div>
                        </div>
                        <div style="display: inline-block; margin-left: 10em">
                           <a href="{{ request.scheme }}://{{ home_url }}/like/{{ book.0 }}/"><img src="{% static 'images/icons/like.png' %}" width="50" height="50" alt="Líbí se mi"></a>
                        </div	>
                     </div>
                     <p> </p>
               {% endfor %}

                  </div>
               </span>
                <p> </p>



             <span class="film_container">
                 <div style="display: inline-block;"> 
                  <div class="culture_container_icon">
                     <img src="{% static 'images/icons/cult_other.png' %}" width="60" height="60" alt="Knihy" > 
                  </div>
                  <div  class="culture_container_header">
                  	Jiné&nbsp&nbsp&nbsp&nbsp&nbsp
                  </div>
                  <div class="space_before_arrow">
                  </div>
                  <div id="icon_roll"> 
                   <input type="image" src="{% static 'images/icons/roll.png' %}"  id="show_other_arrow" class="roll_buttons" onclick="show_other()">
                  <input type="image" src="{% static 'images/icons/unroll.png' %}"  id="hide_other_arrow" class="roll_buttons" onclick="hide_other()" >  
                  </div>
                 </div> 
                  <div id="all_lines_culture_container_other">


               {% for other in all_others_complet_list %}

                     <div id="cultureID_{{ other.0 }}"  class="culture_content_line">
                        <div class="culture_content_title">
                           {{ other.1 }}
                        </div>
                        <div class="culture_content_style">
                           {{ other.2 }}
                        </div>
                        <div class="culture_content_image">
                           <img src="{% static 'images/subjects/' %}{{ other.4 }}" width="78" height="109" alt="Filmotéka"> 
                        </div>
                        <div class="culture_content_description">
                           {{ other.3 }}
                        </div>
                        <span class="small_line">
                        </span>	
                        <div>Komu se líbí:</div>
                        {% for liker in other.7 %}
                        <img src="{% static 'images/users/'%}{{ liker.1 }}"   width="40" height="40" alt="{{ liker.0 }}">
                        {% endfor %}

                        <span class="small_line">
                        </span>	
                        <div style="display: inline-block;">
                           <div >
                              Přidal:
                           </div>
                           <div> 
                              <img src="{% static 'images/users/'%}{{ other.6 }}" width="40" height="40" alt="{{ other.5 }}">
                           </div>
                        </div>
                        <div style="display: inline-block; margin-left: 10em">
                           <a href="{{ request.scheme }}://{{ home_url }}/like/{{ other.0 }}/"><img src="{% static 'images/icons/like.png' %}" width="50" height="50" alt="Líbí se mi"></a>
                        </div	>
                     </div>
                     <p> </p>
               {% endfor %}

                  </div>
               </span>
                <p> </p>




            </span>
         </span>
      </div>
      <div id="liked_status" value="{{ liked_value }}" value2="{{ liked_value2 }}" ></div>
   </body>
</html>