
{% load static %}
<!DOCTYPE html>
<html>
   <head>
      <meta name="viewport" content="width=device-width" initial-scale="1" charset="UTF-8">
      <title>Hrstkopedie</title>
      <link rel="stylesheet" href="{% static 'css/main.css' %}">
      <script type="text/javascript" src="{% static 'scripts/main.js' %}"></script>
   </head>
   <body>

      <div class="main_header" > 

      <span class="main_header_logo"> 
         <div class="main_header_logo_title"> Hrstkopedie 
         </div>

         <div class="main_header_logo_subtitle"> Všemocné hrstky
         </div>

      </span>

      <span class="main_header_usercard">
         <div class="main_header_usercard_top">
            <a href="{{ request.scheme }}://{{ home_url }}/logout/"> [ LOGOUT ] </a>
         </div>
         <div class="main_header_usercard_middle">
            <img src="{% static 'images/users/' %}{{ image_user }}" width="60" height="60" alt="Hrstkař"> 
         </div>         
         <div class="main_header_usercard_bottom">
            <a href="{{ request.scheme }}://{{ home_url }}/user/{{ user_id }}"> {{ user_name }} </a>
         </div>
      </span>

      <div class="main_header_bottom">
       <span class="main_header_bottom_linebottom">
       </span>
       <span class="main_header_bottom_newwordbutton">
         <button class="main_button" onclick="window.location.href='{{ request.scheme }}://{{ home_url }}/culture/';" > KULTURNÍ TIPY</button>
       </span>

       <span class="main_header_bottom_newwordbutton">
         <button class="main_button" onclick="window.location.href='{{ request.scheme }}://{{ home_url }}/new/';" > PŘIDAT NOVÝ POJEM</button>
       </span>

      </div>

      </div>









      <div class="main_content">
         <span class="main_frame_menu">
            <div class="main_frame_menu_menubutton">
         <span class="main_header_bottom_newwordbutton2">
         <button class="main_button" onclick="window.location.href='{{ request.scheme }}://{{ home_url }}/culture/';" > KULTURNÍ KOUTEK</button>
       </span>


         <span class="main_header_bottom_newwordbutton2">
         <button class="main_button" onclick="window.location.href='{{ request.scheme }}://{{ home_url }}/new/';" > PŘIDAT NOVÝ POJEM</button>
       </span>

                <div id="main_frame_menu_menubutton_show_div" class="main_frame_menu_menubutton_show_div"> 
                <button id="main_frame_menu_menubutton_show" class="main_button" onclick="show_menu()">ZOBRAZIT SLOVNÍK</button>
                      <span class="main_header_bottom_linebottom">
       </span>
</div>
            </div>


            <div class="main_frame_menu_wordlist" id="main_frame_menu_wordlist">
            <button id="main_frame_menu_menubutton_hide" class="main_button" onclick="hide_menu()">SKRÝT SLOVNÍK</button>
            

<span >
            
               <ul>
                  {% for password in muj_list %}
                  <div class="main_frame_menu_wordlist_showed_list"><a href="{{ request.scheme }}://{{ home_url }}/view/{{ password.1 }}/"> &#8227; {{ password.0 }} </a> </div>
                  {% endfor %}
               </ul>
            </span>

       <span class="main_header_bottom_linebottom_aftermenu">
       </span>





            </div>



         </span>

         <span class="main_frame_content">
            <br>

         <form id="editform" method="POST">
            {% csrf_token %}
            Název: <br>
            <input id="password_name" type="text" name="password_name" value="{{ actual_name }}">
            <br><br>
            Popis:<br>
            <textarea cols="50" rows="5" id="password_content" type="text" name="password_content" form="editform">{{ actual_content }}</textarea>
            <br><span class="status_message"> {{ status_message }} </span>
            <br><span class="errortext"> {{ error_msg }} </span>

            <br> 

            
            <button class="small_button" type="submit" value="save" name="save" onlick=""> Uložit </button>
            <br><br><span class="line"> </span>
            <br><span class="main_header_bottom_linebottom"></span><br><br>
            Aktuální obrázek: <br><span class="status_message"> {{ img_deleted_message }} </span>
            {% if no_detail_image == False %}
            <br>
            <img class="main_frame_content_word_image" src="{% static 'images/subjects/' %}{{ password_image }}" alt="Hrstkař"> 
         <form id="image_del_form" method="POST">
            <br> <button class="small_button" type="submit" value="delete" name="delete" onlick=""> Smazat obrázek </button>
         </form>
         {% endif %}
         </form>
         <br>
         {% if no_detail_image == True %}
         <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="myfile"> <br>
            <button class="small_button" type="submit">Upload</button>
         </form>
         {% endif %}
                     <span class="main_header_bottom_linebottom">
       </span>
       <br><br>
         <form method="post" id="delete_word_form">
            {% csrf_token %}
            <button class="small_button" type="submit" value="delete_word" name="delete_word" > Smazat slovo</button>
         </form>
          

         </span>
      </div>
   </body>
</html>












