

{% load static %}
<!DOCTYPE html>
<html>
   <head>
      <meta name="viewport" content="width=device-width" initial-scale="1" charset="UTF-8">
      <title>Hrstkopedie</title>
      <link rel="stylesheet" href="{% static 'css/main.css' %}">
      <script type="text/javascript" src="{% static 'scripts/main.js' %}"></script>
   </head>
   <body>

      <div class="main_header" > 

      <span class="main_header_logo"> 
         <div class="main_header_logo_title"> Hrstkopedie 
         </div>

         <div class="main_header_logo_subtitle"> Všemocné hrstky
         </div>

      </span>

      <span class="main_header_usercard">
         <div class="main_header_usercard_top">
            <a href="{{ request.scheme }}://{{ home_url }}/logout/"> [ LOGOUT ] </a>
         </div>
         <div class="main_header_usercard_middle">
            <img src="{% static 'images/users/' %}{{ image_user }}" width="60" height="60" alt="Hrstkař"> 
         </div>         
         <div class="main_header_usercard_bottom">
            <a href="{{ request.scheme }}://{{ home_url }}/user/{{ user_id }}"> {{ user_name }} </a>
         </div>
      </span>

      <div class="main_header_bottom">
       <span class="main_header_bottom_linebottom">
       </span>

       <span class="main_header_bottom_newwordbutton">
         <button class="main_button" onclick="window.location.href='{{ request.scheme }}://{{ home_url }}/culture/';" > KULTURNÍ TIPY</button>
       </span>

       <span class="main_header_bottom_newwordbutton">
         <button class="main_button" onclick="window.location.href='{{ request.scheme }}://{{ home_url }}/new/';" > PŘIDAT NOVÝ POJEM</button>
       </span>

      </div>

      </div>









      <div class="main_content">
         <span class="main_frame_menu">
            <div class="main_frame_menu_menubutton">

        <span class="main_header_bottom_newwordbutton2">
         <button class="main_button" onclick="window.location.href='{{ request.scheme }}://{{ home_url }}/culture/';" > KULTURNÍ KOUTEK</button>
       </span>


        <span class="main_header_bottom_newwordbutton2">
         <button class="main_button" onclick="window.location.href='{{ request.scheme }}://{{ home_url }}/new/';" > PŘIDAT NOVÝ POJEM</button>
       </span>

              
                <div id="main_frame_menu_menubutton_show_div" class="main_frame_menu_menubutton_show_div"> 
                <button id="main_frame_menu_menubutton_show" class="main_button" onclick="show_menu()">ZOBRAZIT SLOVNÍK</button>
                      <span class="main_header_bottom_linebottom">
       </span>
</div>
            </div>


            <div class="main_frame_menu_wordlist" id="main_frame_menu_wordlist">
            <button id="main_frame_menu_menubutton_hide" class="main_button" onclick="hide_menu()">SKRÝT SLOVNÍK</button>
            

<span >
            
               <ul>
                  {% for password in muj_list %}
                  <div class="main_frame_menu_wordlist_showed_list"><a href="{{ request.scheme }}://{{ home_url }}/view/{{ password.1 }}/"> &#8227; {{ password.0 }} </a> </div>
                  {% endfor %}
               </ul>
            </span>

       <span class="main_header_bottom_linebottom_aftermenu">
       </span>





            </div>



         </span>


      </div>







   </body>
</html>

