
{% load static %}
<!DOCTYPE html>
<html>
   <head>
      <meta name="viewport" content="width=device-width" initial-scale="1" charset="UTF-8">
      <title>Hrstkopedie</title>
      <link rel="stylesheet" href="{% static 'css/main.css' %}">
      <script type="text/javascript" src="{% static 'scripts/main.js' %}"></script>
   </head>
   <body>

      <div class="main_header" > 

      <span class="main_header_logo"> 
         <div class="main_header_logo_title"> Hrstkopedie 
         </div>

         <div class="main_header_logo_subtitle"> Všemocné hrstky
         </div>

      </span>

      <span class="main_header_usercard">
         <div class="main_header_usercard_top">
            <a href="{{ request.scheme }}://{{ home_url }}/logout/"> [ LOGOUT ] </a>
         </div>
         <div class="main_header_usercard_middle">
            <img src="{% static 'images/users/' %}{{ image_user }}" width="60" height="60" alt="Hrstkař"> 
         </div>         
         <div class="main_header_usercard_bottom">
            <a href="{{ request.scheme }}://{{ home_url }}/user/{{ user_id }}"> {{ user_name }} </a>
         </div>
      </span>

      <div class="main_header_bottom">
       <span class="main_header_bottom_linebottom">
       </span>
       <span class="main_header_bottom_newwordbutton">
         <button class="main_button" onclick="window.location.href='{{ request.scheme }}://{{ home_url }}/culture/';" > KULTURNÍ TIPY</button>
       </span>
       <span class="main_header_bottom_newwordbutton">
         <button class="main_button" onclick="window.location.href='{{ request.scheme }}://{{ home_url }}/new/';" > PŘIDAT NOVÝ POJEM</button>
       </span>

      </div>

      </div>









      <div class="main_content">
         <span class="main_frame_menu">
            <div class="main_frame_menu_menubutton">



                <div id="main_frame_menu_menubutton_show_div" class="main_frame_menu_menubutton_show_div"> 

                      <span class="main_header_bottom_linebottom">
       </span>
</div>
            </div>


            <div class="main_frame_menu_wordlist" id="main_frame_menu_wordlist">

            


       <span class="main_header_bottom_linebottom_aftermenu">
       </span>





            </div>



         </span>

         <span class="main_frame_content">
<br>
<form id="edituser" method="POST">
            {% csrf_token %}
            Zobrazované jméno: <br>
            <input  class="main_button" id="user_name_field" type="text" name="user_name_field" value="{{ old_user_name }}"><br><br>
            Oslovení: <br>
            <input class="main_button" id="user_salutation_field" type="text" name="user_salutation_field" value="{{ old_user_salutation }}"><br><br>
            Heslo: <br>
            <input class="main_button" id="user_password_field" type="password" name="user_password_field" value="{{ old_user_password }}"><br><br>
            <div class="errortext">{{ error_msg }}</div>
                    <div class="status_message">{{ status_message }}</div>
    

            <button class="main_button" type="submit" value="save_user" name="save_user" onlick="">ULOŽIT </button>

</form>
<br><br>

         <button class="main_button" onclick="window.location.href='{{ request.scheme }}://{{ home_url }}';" > ZPĚT NA HLAVNÍ STRANU</button>
      </div>

          

         </span>

      </div>
   </body>
</html>






