{% load static %}

<!DOCTYPE html>
<html>
   <head>
      <meta name="viewport" content="width=device-width" initial-scale="1" charset="UTF-8">
      <title>Hrstkopedie</title>
      <link rel="stylesheet" href="{% static 'css/main.css' %}">
      <script type="text/javascript" src="{% static 'scripts/main.js' %}"></script>
   </head>
   <body>

      <div class="main_header" > 
         <div class="main_header_logo_title"> Hrstkopedie 
         </div>

         <div class="main_header_logo_subtitle"> Všemocné hrstky

    <br><br><br><br>

<div class="center_form">
    <form method="POST">
        {% csrf_token %}
        Přihlaš se prosím
        <br><br><br>
        <span class="minitext"> email: </span><br>

        <input class="main_button" type="text" name="user_email" value={{request.POST.email}}>
        <br>
        <span class="minitext"> heslo: </span><br>
        <input class="main_button" type="password" name="user_password" value={{request.POST.password}}>
        <br>
        <br>
        <button  class="main_button"  onlick=""> PŘIHLÁSIT </button>
        <br>
        <span class="errortext">{{error_msg}}</span>

    </form>

</div>


</body>
</html>