{% load static %}

<!DOCTYPE html>
<html>
   <head>
      <meta name="viewport" content="width=device-width" initial-scale="1" charset="UTF-8">
      <title>Hrstkopedie</title>
      <link rel="stylesheet" href="{% static 'css/main.css' %}">
      <script type="text/javascript" src="{% static 'scripts/main.js' %}"></script>
   </head>
   <body>

      <div class="main_header" > 
         <div class="main_header_logo_title"> Hrstkopedie 
         </div>

         <div class="main_header_logo_subtitle"> Všemocné hrstky

<br><br><br>
<div class="center_form">
    <form method="POST">
        {% csrf_token %}
        Jsi odhlášen. Měj se skvěle!

<br><br>
    </form>
         <button class="main_button" onclick="window.location.href='{{ request.scheme }}://{{ home_url }}/login/';" > ZPĚT NA PŘIHLÁŠENÍ </button>
</div>


</body>
</html>