{% load static %}

<!DOCTYPE html>
<html>
   <head>
      <meta name="viewport" content="width=device-width" initial-scale="1" charset="UTF-8">
      <title>Hrstkopedie</title>
      <link rel="stylesheet" href="{% static 'css/main.css' %}">
      <script type="text/javascript" src="{% static 'scripts/main.js' %}"></script>
   </head>
   <body>

      <div class="main_header" > 
         <div class="main_header_logo_title"> Hrstkopedie 
         </div>

         <div class="main_header_logo_subtitle"> Všemocné hrstky

    <br><br><br><br>

<div class="center_form">
 

<div class="center"><img src="{% static 'images/users/' %}{{ image_user }}" width="100" height="100" alt="Hrstkař"><br>
{{ salutation }} <br><br><br>   


         <button class="main_button" onclick="window.location.href='{{ request.scheme }}://{{ home_url }}/';" > POKRAČUJ ZDE </button>

</div>






</div>


</body>
</html>






